/* General Body */
body {
    font-family: 'Arial', sans-serif; /* Define la fuente del texto como Arial o una fuente sans-serif similar */
    background-color: #f4f6f9; /* Establece un color de fondo suave para el cuerpo del documento */
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
    padding: 0; /* Elimina los rellenos predeterminados del cuerpo */
    color: #333; /* Define el color del texto principal como gris oscuro */
}

/* Titulos Generales */
h1, h2, h3 {
    font-weight: bold; /* Establece el peso de la fuente de los títulos como negrita */
    color: #4a4a4a; /* Define el color de los títulos como gris oscuro */
    margin-bottom: 1rem; /* Agrega un margen inferior a los títulos para separar visualmente */
}

h1 {
    font-size: 1.8rem; /* Define el tamaño de fuente del título principal */
    border-bottom: 3px solid #007bff; /* Agrega una línea azul decorativa debajo del título principal */
    padding-bottom: 0.5rem; /* Agrega un espacio inferior debajo del título principal */
}

h2 {
    font-size: 1.8rem; /* Define el tamaño de fuente del título secundario */
    color: #0056b3; /* Define el color del título secundario como un azul más oscuro */
}

h3 {
    font-size: 1.5rem; /* Define el tamaño de fuente del título terciario */
    color: #666; /* Define el color del título terciario como gris claro */
}

/* Sección de formularios y contenedores */
.section-container { 
    background-color: #ffffff; /* Define el color de fondo de los contenedores */
    border: 1px solid #dee2e6; /* Agrega un borde a los contenedores */
    border-radius: 5px; /* Define bordes redondeados para los contenedores */
    padding: 1.5rem; /* Agrega relleno interno a los contenedores */
    margin-bottom: 1.5rem; /* Agrega un margen inferior a los contenedores */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave a los contenedores */
}

/* Etiquetas de formularios */
label {
    font-weight: 600; /* Establece el peso de la fuente de las etiquetas como seminegrita */
    margin-bottom: 0.3rem; /* Agrega un margen inferior a las etiquetas */
    display: inline-block; /* Muestra las etiquetas en línea */
} 

/* Inputs y Selects */
input[type="text"], input[type="number"], input[type="datetime-local"], 
select, textarea {
    width: 100%; /* Establece el ancho de los elementos de entrada al 100% de su contenedor */
    padding: 0.5rem; /* Agrega relleno interno a los elementos de entrada */
    margin-bottom: 1rem; /* Agrega un margen inferior a los elementos de entrada */
    border: 1px solid #ccc; /* Agrega un borde gris a los elementos de entrada */
    border-radius: 3px; /* Define bordes redondeados para los elementos de entrada */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Agrega una sombra interna sutil a los elementos de entrada */
    transition: border-color 0.3s ease-in-out; /* Define una transición suave para el cambio de color del borde */
}

input:focus, select:focus, textarea:focus {
    border-color: #007bff; /* Cambia el color del borde al enfocar los elementos de entrada */
    outline: none; /* Elimina el borde de enfoque predeterminado */
}

/* Botones generales */
.btn-primary, .btn-warning, .btn-danger {
    border-radius: 4px; /* Define bordes redondeados para los botones */
    font-weight: 500; /* Establece el peso de la fuente de los botones */
    padding: 0.4rem 0.7rem; /* Agrega relleno interno a los botones */
    text-transform: uppercase; /* Convierte el texto de los botones a mayúsculas */
}

.btn-primary {
    background-color: #175393; /* Define el color de fondo del botón primario */
    border: none; /* Elimina el borde del botón primario */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cambia el color de fondo del botón primario al pasar el mouse */
}

.btn-warning {
    background-color: #ffc107; /* Define el color de fondo del botón de advertencia */
    border: none; /* Elimina el borde del botón de advertencia */
}

.btn-danger {
    background-color: #dc3545; /* Define el color de fondo del botón de peligro */
    border: none; /* Elimina el borde del botón de peligro */
} 



/* Tab Menú */
.nav-tabs {
    border-bottom: 2px solid #007bff; /* Agrega una línea azul debajo de las pestañas */
}

.nav-tabs .nav-link {
    color: #555; /* Define el color del texto de las pestañas */
    font-weight: 30; /* Establece el peso de la fuente de las pestañas */
    text-transform: uppercase; /* Convierte el texto de las pestañas a mayúsculas */
}

.nav-tabs .nav-link.active {
    background-color: #1c497a; /* Define el color de fondo de la pestaña activa */
    color: #fff; /* Define el color del texto de la pestaña activa */
    border-color: #007bff; /* Define el color del borde de la pestaña activa */
}

/* Contenedor de Pestañas */
.tab-content {
    background-color: #fff; /* Define el color de fondo del contenido de las pestañas */
    border: 1px solid #ddd; /* Agrega un borde al contenido de las pestañas */
    border-top: none; /* Elimina el borde superior del contenido de las pestañas */
    padding: 1.5rem; /* Agrega relleno interno al contenido de las pestañas */
    border-radius: 0 0 5px 5px; /* Define bordes redondeados inferiores para el contenido de las pestañas */
}

/* Tablas fuera de DataTable */
.table-bordered {
    border: 1px solid #dee2e6; /* Agrega un borde a las tablas */
    margin-bottom: 1rem; /* Agrega un margen inferior a las tablas */
}

.table-bordered thead th {
    background-color: #1c497a; /* Define el color de fondo de la cabecera de la tabla */
    color: #fff; /* Define el color del texto de la cabecera de la tabla */
    font-weight: bold; /* Establece el peso de la fuente de la cabecera de la tabla */
}

.table-bordered tbody tr td {
    padding: 0.75rem; /* Agrega relleno a las celdas de la tabla */
    vertical-align: middle; /* Alinea el contenido de las celdas verticalmente al centro */
}

/* Modal */
.modal-header {
    background-color: #007bff; /* Define el color de fondo del encabezado del modal */
    color: #fff; /* Define el color del texto del encabezado del modal */
}

.modal-title {
    font-weight: 600; /* Establece el peso de la fuente del título del modal */
}

.modal-footer {
    background-color: #f8f9fa; /* Define el color de fondo del pie del modal */
}