/* Tabla compacta */
.table-compact {
    font-size: 14px;
    text-align: center;
}

.table-compact th {
    background-color: #1c497a;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.table-compact td {
    padding: 8px;
}

.dataTables_wrapper {
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botones de paginación */
.dataTables_wrapper .paginate_button {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 2px;
}

.dataTables_wrapper .paginate_button:hover {
    background-color: #007bff;
    color: white;
}
