/* Tabla compacta */
.table-compact {
    font-size: 12px; /* Reducir el tamaño de la fuente */
    text-align: center;
}

.table-compact th {
    background-color: #1c497a;
    color: white;
    font-weight: normal; /* Evitar negritas */
    padding: 8px; /* Ajustar el padding */
    font-size: 11px; /* Tamaño reducido para encabezados */
}


.table-compact td {
    padding: 4px; /* Reducir el padding para hacer las celdas más pequeñas verticalmente */
    font-size: 13px; /* Tamaño reducido para celdas */
}

/* Envoltorio del DataTable */
.dataTables_wrapper {
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para centrar el texto de los encabezados de las celdas */
.dataTables_wrapper th {
    text-align: center;
    vertical-align: middle;
}
/* Botones de paginación */
.dataTables_wrapper .paginate_button {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 2px;
}

.dataTables_wrapper .paginate_button:hover {
    background-color: #007bff;
    color: white;
}

/* Ajustes del contenedor al minimizar el panel lateral */
.wrapper {
    overflow-x: hidden; /* Evitar desplazamiento horizontal no deseado */
}

/* Forzar adaptación del DataTable al tamaño disponible */
.table-compact {
    width: 100% !important;
    display: table; /* Mantener el comportamiento de tabla */
}

/* Estilos para los checkboxes en DataTables */
.dataTables_wrapper .form-check-input {
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin: 0 -12px;
}

.dataTables_wrapper .form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
}

/* Estilos para los botones de incremento/decremento en DataTables */
.dataTables_wrapper .input-group .btn {
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataTables_wrapper .input-group .btn-outline-secondary {
    border-color: #ced4da;
    color: #495057;
}

.dataTables_wrapper .input-group .btn-outline-secondary:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

/* Estilos para el input de cantidad */
.dataTables_wrapper .input-group .form-control.cantidad-consumir {
    text-align: center;
    height: 30px;
    padding: 0;
    font-size: 14px;
}

/* Eliminar las flechas de los campos de entrada numéricos */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}