/* Modal */

/* Estilos para el encabezado del modal */
.modal-header h3 {
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente */
    margin: 0; /* Elimina el margen */
}

.modal-header {
    padding: 10px 15px; /* Reduce el padding vertical */
}
.modal-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
}

.modal-form-container .form-row {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.modal-form-container .form-group {
    flex: 1;
}

.modal-form-container input,
.modal-form-container select,
.modal-form-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* Input quantity alignment */
.input-quantity {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre los elementos */
}

.input-quantity input {
    flex: 1;
    text-align: center; /* Centrar el texto */
    height: 40px; /* Altura consistente */
}

.input-quantity .btn-minus,
.input-quantity .btn-plus {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
    cursor: pointer;
    font-size: 18px;
}

.input-quantity .currency {
    font-weight: bold;
    margin-left: 5px;
}
.custom-switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 26px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

#estado-text {
    font-weight: bold;
    color: #333;
}

/* Estilos para la sección de subtotales */
.subtotales-container .card-header {
    background-color: #1c497a; /* Color similar al DataTable */
    color: #fff; /* Texto blanco */
    padding: 5px 5px; /* Ajustar el padding */
    cursor: pointer;
}

.subtotales-container .card-title {
    font-size: 0.9rem; /* Reducir el tamaño de la fuente */
}

#subtotalesContent {
    display: none; /* Ocultar por defecto */
}

#toggleSubtotales {
    background: none;
    border: none;
    color: #ececec;
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: auto; /* Mover el botón al extremo derecho */
}